<form class="container border border-secondary rounded-lg p-4">
    
    <!-- Title -->
    <div class="col text-center">
        <h2>Add new file</h2>
    </div>

    <!-- New file name -->
    <div class="form-group">
        <label for="inputFileName">File Name:</label>
        <input type="name" class="form-control" id="inputFileName">
    </div>

    <!-- New file description -->
    <div class="form-group">
        <label for="inputFileDescription">File Description:</label>
        <input type="description" class="form-control" id="inputFileDescription">
    </div>

    <!-- New file url -->
    <div class="form-group">
        <label for="inputFileURL">File URL:</label>
        <input type="url" class="form-control" id="inputFileURL">
    </div>

    <!-- Submit new file -->
    <div class="col text-center">
        <button type="submit" class="btn btn-primary" id="new-file-button">Submit</button>
    </div>
</form>