<form class="container border border-secondary rounded-lg p-4">
    <div class="col text-center">
        <h2>Add new file</h2>
    </div>
    <div class="form-group">
        <label for="inputFileName">File Name:</label>
        <input type="name" class="form-control" id="inputFileName">
    </div>
    <div class="form-group">
        <label for="inputFileDescription">File Description:</label>
        <input type="description" class="form-control" id="inputFileDescription">
    </div>
    <div class="form-group">
        <label for="inputFileURL">File URL:</label>
        <input type="url" class="form-control" id="inputFileURL">
    </div>
    <div class="col text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>