<div class="row row-cols-1 row-cols-md-3">

  <!-- Loop over each object in the files array -->
  {{#each files as |file|}}
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <a href="/views/file.handlebars" class="card-title">{{file.name}}</a>
        <iframe class="card-img-top h-auto" src="{{file.url}}" allow="autoplay"></iframe>
        <p class="card-text">{{file.description}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<script src="./js/logout.js"></script>